/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLING */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333
}

/* CONTAINER STYLE */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADINGS */
h1,
h2, 
h3 {
    margin-bottom: 20px;
}

/* PARAGRAPHS */
P {
    margin-bottom: 15px;
}

/* LISTS */
ul {
    list-style: none;   
}

/* INTRO SECTION */
#intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color:aqua
}

/* INTRO TEXT */
#intro h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#intro h2 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
}

#intro p {
    max-width: 600px;
    font-size: 1.1rem;
}